node_modules/
.env
.expo/
*.log
.DS_Store
_ref_agency-agents/
.cursor/
_ref_agency-agents
.cursor

# Firebase emulators
firebase-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log
.firebase/
